<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # DO NOT USE RewriteBase unless inside subfolder routing issues
    # (removing it prevents your redirect loop)

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
